__pycache__/
*.py[cod]
*$py.class
build/
dist/
*.egg-info/
*.egg
.venv/
venv/
.pytest_cache/
.coverage*
htmlcov/
.idea/
.vscode/
image_array_and_histogram_rrsc.egg-info/
image_array_and_histogram.egg-info/